{% load i18n %}
<!DOCTYPE html>                                                                 
<html>                                                                          
  <head>                                                                        
  </head>                                                                       
                                                                                
  <body>                                                                        
    <h1>{{hello}}</h1>
    <h2>{% trans "My name is Alejo" %}</h2>
  </body>                                                                       
</html>